#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.cachefile
*.bmp
*.vsp
*.dds
*.exe
*.fbx
*.testsettings
*.png
*.psess
*.7z
*.vsmdi
*.sbr
TestProject3*/
bin*/
content*/
*.ico
*.exe
*.application
*.xnb
*.exe.manifest
*.pdb
*.jpg
*.dll
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
[Rr]elease*/
_ReSharper*/
Debug*/
AirshipSchematics*/
x86*/
